* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  line-height: 35px;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  background-color: rgb(141, 184, 157);
  width: 100%;
  text-align: center;
  padding: 30px;
}

main {
  color: rgb(82, 104, 160);
  font-size: 20px;
}

#titulo {
  font-size: 40px;
  color: rgb(252, 248, 214);
}

img {
  display: block;
  margin: 150px auto 50px;
  border: 4px solid rgb(82, 104, 160);
  border-radius: 100%;
  width: 250px;
}

#listas {
  overflow: auto;
  margin-bottom: 80px;
}

.lado-esquerdo h3 {
  text-align: center;
}

#section {
  overflow: auto;
}

.lado-esquerdo {
  text-align: justify;
  float: left;
  margin-left: 80px;
  margin-right: 40px;
  width: 60%;
}

.lado-direito {
  float: right;
  margin-right: 80px;
  width: 20%;
}

footer p {
    margin-top: 10px;
    color: rgb(252, 248, 214);
    font-size: 12px;
  }

.lado-direito h3 , .lado-direito p {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(141, 184, 157);
  letter-spacing: 1px;
  margin: 80px auto;
}

td , th {
  border: 1px solid rgb(141, 184, 157);
  padding: 10px 20px;
  background-color: rgb(252, 248, 214);
}

footer {
  background-color: rgb(141, 184, 157);
  width: 100%;
  text-align: center;
  padding: 30px;
}

.links {
  list-style-type: none;
  display: inline;
}

a {
  color: rgb(252, 248, 214);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: rgb(82, 104, 160);
  text-decoration: none;
  cursor: pointer;
}
